$white: #fff;
$black: #000;

$almost-black: #212A33;
$almost-white: #F2F2F2;

$green: #18BC9C;
$darker-green: #16A085;

$blue: #3498DB;
$darker-blue: #2980B9;

$slate: #34495E;
$darker-slate: #35404F;

$red: #e74c3c;
